<html>

<body>
<div class="container">
    <div class="col-sm-4 col-md-10 mx-auto">
   <img style="width: 800px; height: 500px; margin-top: 120px;"src=<%= image_url('https://ugc.kn3.net/i/origin/http://www.dan-dare.org/FreeFun/Images/CartoonsMoviesTV/PokemonWallpaper1024.jpg')%>>
   <h2 style="text-align: center;">Welcome to Pokemon Game</h2>
 </div>
</div>
</body>


</html>