<header class="masterhead">
<nav class="navbar navbar-inverse  navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Pokemon Rainbow', root_path, class: 'navbar-brand' %>
    </div>
    
    <ul class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <%= link_to 'Battle', pokemon_battles_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Pokemon', pokemons_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Pokedex', pokedexes_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
<!-- nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">Pokemon Rainbow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-righ">
      <li class="nav-item active">
        <a class="nav-link" href="#">Battle <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pokemon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pokedex</a>
      </li>
      
    </ul>
  </div>
</nav> -->
</header>
